@import '../../assets/css/var.css';

.button {
	display: inline-block;
	color: var(--black);
	text-decoration: none;
	border: 1px solid var(--grey-medium);
	border-radius: 100px;
	padding: 10px 15px;
}
@keyframes fill-to-gray {
	0% { background-color: transparent; }
	100% { background-color: var(--grey-medium); }
}
@keyframes unfill-from-gray {
	0% { background-color: var(--grey-medium); }
	100% { background-color: transparent; }
}
.button:hover {
	background-color: var(--grey-medium);
	animation-name: fill-to-gray;
	animation-duration: .5s;
}
.button:not(hover) {
	animation-name: unfill-from-gray;
	animation-duration: .5s;
}
