@import '../../assets/css/var.css';

.message-outer {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--black-transparent);
}

.message-inner {
	padding: 50px;
	height: fit-content;
	width: fit-content;
	border-radius: 10px;
	background-color: var(--white);
}
