@import '../assets/css/var.css';

.button {
	display: block;
	width: fit-content;
	color: var(--black);
	background-color: transparent;
	text-decoration: none;
	border: 1px solid var(--grey-medium);
	border-radius: 100px;
	padding: 10px 15px;
	cursor: pointer; 
	outline: none;
	font-size: .9rem;
	transition: all .5s ease-out;
}

.button:hover {
	background-color: var(--grey-medium);
}
