@import '../assets/css/var.css';

.header {
	width: 100%;
	margin: 0;
	padding: 10px;
	background-color: var(--grey-light);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.header__item {
	display: block;
	padding: 5px 10px;
}

.header__item-home {
	flex-grow: 1;
}

